{% extends 'shop/basic.html' %}

{% block title %}About | Shopping.in{% endblock %}
{% block body %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Shopping.in</h1>
          <p class="lead text-muted">Flipkart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.[5] The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

            The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.[6][7] As of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[8] Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[9] Flipkart also owns PhonePe, a mobile payments service based on the UPI.<p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  </main>
  
{% endblock %}
