{% extends 'shop/basic.html' %}

{% comment %} Adding Title {% endcomment %}
{% block title %} Welcome to Shopping.in {% endblock title %}

{% comment %} Adding Css {% endcomment %}
{% block css %}.col-md-3 {
    display: inline-block;
    margin-left: 0px;
  }
  .card{
    padding : 10px;
    height: 500px;
  }

  .col-md-3 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .carousel-indicators .active {
    background-color: violet;
  }
  .carousel-control-prev{
    left: -200px;
}
.carousel-control-next {
  right: -200px;
}

  body .carousel-control-prev-icon {
    background-color: blue;
  }
  body .carousel-control-next-icon {
  background-color: blue;
  }{% endblock css %}

{% comment %} Adding Body {% endcomment %}
{% block body %}
{% load static%}
<div class="container my-3">
  {% for product, range, nSlides,category in allProds %}
    <h2>{{category}}</h2>
    <div id="carouselExampleIndicators{{ forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter}}" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 0"></button>
        {% for i in nSlides %}
        <button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.perentloop.counter}}" data-bs-slide-to="{{i}}"
        aria-label="Slide {{i}}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            {% for i in product|slice:"0:" %}
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src = '/media/{{i.image}}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" id = 'namepr{{i.id}}'>{{i.product_name}}</h5>
                  <p class="card-text">{{i.desc | slice:"0:75"}}...</p>
                  <span id = "divpr{{i.id}}">
                  <button href="#" id="pr{{i.id}}" onclick= 'addToCart(this.id)' class="btn btn-primary cart">Add to Cart</button>
                  </span>
                  <a href="/shop/productview/{{i.id}}" ><button id="fv{{i.id}}" class="btn btn-primary">Full View</button></a>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div></div> <div class="carousel-item">
            <div class="row">
            {% endif %}
            {% endfor %}
        </div></div></div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter}}"
      data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr> 
    {% endfor %}
</div>
{% endblock body %}

{% block js %}
// If the add to cart button is clicked, add/increment the item
      function addToCart(idstr){
        if(cart[idstr]!=undefined){
          qty = cart[idstr][0]+1
          name = document.getElementById('name'+idstr).innerText;
          cart[idstr] = [qty,name]
        }
        else{
          qty = 1
          name = document.getElementById('name'+idstr).innerText;
          cart[idstr] = [qty,name]
        }
        localStorage.setItem('cart',JSON.stringify(cart));
        let keys = Object.keys(cart)
        let q = 0
        for(let i = 0 ; keys.length>i; i++){
          q = q + cart[keys[i]][0]
        }
        document.getElementById('cart').innerHTML = q ;
        showCart(cart);
        updateCart(cart);
        updatePopover(cart);
      }

      showCart(cart);
      // This function show the values of existing item which is already add in cart;
      function showCart(cart){
        for ( let item in cart){
          let html =  "<button id = 'minus" + item + "' onclick = 'minus(this.id)' class = 'btn btn-primary minus'>-</button> <span id= 'val"+ item + "'>" + cart[item][0] + "</span><button id = 'plus"+ item + "' onclick ='plus(this.id)' class = 'btn btn-primary plus mx-1'>+</button>"
          document.getElementById('div'+item).innerHTML = html
        }
      }

      // This function for plus button
      function plus(id){
        id = id.slice(6);
        cart['pr'+id][0] = cart['pr'+id][0]+1;
        document.getElementById('valpr'+id).innerHTML = cart['pr'+id][0]
        localStorage.setItem('cart',JSON.stringify(cart));
        updateCart(cart);
        updatePopover(cart);
      }
      
      // This function for plus button
      function minus(id){
        id = id.slice(7);
          if( cart['pr'+id][0]==1){
            document.getElementById('divpr'+id).innerHTML = "<button href='#' id='pr" + id + "' onclick= 'addToCart(this.id)' class='btn btn-primary cart'>Add to Cart</button>"
            delete cart['pr'+id];
            localStorage.setItem('cart',JSON.stringify(cart));
          }
          else{
            cart['pr'+id][0] = cart['pr'+id][0]-1;
            document.getElementById('valpr'+id).innerHTML = cart['pr'+id][0]
            localStorage.setItem('cart',JSON.stringify(cart));
          }
          updateCart(cart);
          updatePopover(cart);
      }

      // Add popover to Cart
      let popcart = document.getElementById('popcart')
      popcart.setAttribute('data-bs-content',"welcome to Cart");
      let popover = new bootstrap.Popover(popcart)
      popover.show();

      updatePopover(cart);

      //This function update the items in popover
      function updatePopover(cart){
        let popstr = '<h5>Cart for your items in my shopping cart </h5>'
        let i = 1;
        for (item in cart){
          popstr = popstr + "<b>"+i+". </b>"
          popstr = popstr + document.getElementById('name'+item).innerHTML.slice(0, 20) + "... Qty:" + cart[item][0] + "<hr>";
          i= i+1;
        }
        popstr = popstr + "<a onclick='clearCart()' class = 'btn btn-primary' type = 'button' id = 'clearcart'>ClearCart</a><a href='/shop/checkout' class = 'btn btn-primary mx-2'  type = 'button' id = 'checkout'>Checkout</a>";
        let popBodyElem = document.getElementsByClassName('popover-body')[0]
        popBodyElem.innerHTML = popstr;
      }

      //Clearcart function
      let clearcartelem = document.getElementById('clearcart');
      clearcartelem.addEventListener('click',clearCart)
      function clearCart(){
        cart = JSON.parse(localStorage.getItem('cart'));
        for (let item in cart){
          document.getElementById('div'+item).innerHTML = "<button href='#' id='" + item + "' onclick= 'addToCart(this.id)' class='btn btn-primary cart'>Add to Cart</button>"
        }
        localStorage.clear();
        cart = {}
        updatePopover(cart);
      }
      {% endblock js %}